.FormInput{
    margin: 1rem;
    size: 25px;
}
a{
    text-decoration: none;
    color: black;
}
.btn{
    margin: 1rem;
    font-size: 25px;
    padding: .5rem;
    padding-left: 5.5rem;
    padding-right: 5.5rem;
    border-radius: 13px;
    border-color:green;
    background-color: #95ca3e;
    outline: none;
}
.btn:hover {
    background-color: #4CAF50;
    color: white;
  }
form{
    margin: 2rem 0;
    justify-content: center;
    font-size: 25px;
}
.body{
    margin: 10rem 0;
    box-shadow: 0px 0px 10px 5px rgba(158, 158, 158, 0.5);
    padding: 3%;
    border-radius: 20px;
}
body{
    text-align: center;
    font-family: 'Lato', sans-serif;
    max-width: 450px;
    margin: 0 auto;
    margin-top: 30px;
    font-size: 25px;
}
.email, .usuario, .password{
width: 320px;
height: 40px;
font-size: 20pt;
border: solid 1pt #aaaaaa;
border-radius: .5rem;
outline: none;
}
