.FormInput{
    margin: 1rem;
    font-size: 25px;
}
a{
    text-decoration: none;
    color: black;
}
.btn{
    margin: .5rem;
    font-size: 25px;
    padding: .5rem;
    padding-left: 1.6rem;
    padding-right: 1.6rem;   
    border-radius: 13px;
    border-color: green;
    background-color: #95ca3e;
}
.btn:hover{
    background-color: #4CAF50;
    color: white;
}
.body{
    margin: 10rem 0;
    box-shadow: 0px 0px 10px 5px rgba(158, 158, 158, 0.5);
    padding: 3%;
    border-radius: 20px;
}
body{
    text-align: center;
    font-family: 'Lato', sans-serif;
    max-width: 500px;
    margin: 0 auto;
    margin-top: 30px;
    font-size: 25px;
}
h2{
    font-size: 25px;
}
#span{
    font-size: 15px;
    padding: .5rem;
}
.email{
    width: 305px;
    height: 40px;
    font-size: 20pt;
    border-radius: .5rem;
    border: solid 1pt #aaaaaa;
    outline: none;
}
.otro{
    margin: 2rem 0;
    font-size: 25px;
}
