body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: #5550;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  right: 6px;
  width: 100%;
  position: absolute;
  height: 100%;
}

#botones{
  display: none;
}
/* The popup form - hidden by default */
.form-popup {
  position: fixed ;
  bottom: 260px;
  right: 48px;
  border: 3px solid #f1f1f1 ;
  z-index: 40 ;
  display: none;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 20px;
  background-color: white;
  left: 70%;
  border-radius: 10px;
  position: fixed;
  top: 7.5%;
  box-shadow: 0px 0px 10px 1px #888888;
}
@media (max-width: 768px) {
  .form-container {
    max-width: 300px;
    padding: 20px;
    background-color: white;
    left: 59.5%;
    border-radius: 10px;
    position: fixed;
    top: 9.5%;
    box-shadow: 0px 0px 10px 1px #888888;
  }
}
@media (max-width: 414px){
  .form-container {
    max-width: 300px;
    padding: 20px;
    background-color: white;
    left: 18%;
    border-radius: 10px;
    position: fixed;
    top: 11%;
    box-shadow: 0px 0px 10px 1px #888888;
  }
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 5px;
  margin: 4px 0 10px 0;
  border: none;
  background: #f1f1f1;
  color: black;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: black;
  color: white;
  padding: 10px 42px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 9px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: darkred;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}